.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #efefef;
}

.image-placeholder__icon {
  width: 50%;
  height: 50%;
  fill: #ccc;
}
