.search-form {
	display: flex;
	flex: 1;
}

.search-form__input {
	font-size: 18px;
	padding: 10px;
	border: 2px solid #efefef;
	border-radius: var(--border-radius);
	max-width: 500px;
	flex-basis: 400px;
	width: 100%;
}

.search-form__input:focus {
	border-color: var(--brand-color);
}

.search-form__input::placeholder {
	color: #bbbbbb;
	opacity: 1;
}

.search-form__button {
	margin-left: 8px;
	font-size: 18px;
	padding: 10px 15px;
	border: 2px solid var(--brand-color);
	border-radius: var(--border-radius);
	transition: background-color var(--transition-duration) ease-in;
}

.search-form__button:hover,
.search-form__button:focus {
	background-color: var(--brand-color);
}