:root {
	--gutter: 16px;
	--film-card-vertical-offset: 12px;
	--film-card-horizontal-offset: 8px;
	--transition-duration: 0.2s;
	--brand-color: #ffe6ab;
	--border-radius: 3px;
}

*, *::before, *::after {
	box-sizing: border-box;
}

.current a {
	color: #000;
	text-decoration: none;
}

.films-list {
	padding-left: 0;
	list-style: none;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
	display: flex;
	flex-wrap: wrap;
}

.films-list__item {
	flex: 1;
	min-width: 200px;
	padding: var(--gutter);
}

.film-item {
	position: relative;
	padding-top: 150%;
	overflow: hidden;
	box-shadow: 1px 1px 6px 0 rgba(0,0,0,.4);
  border-radius: var(--border-radius);
}

.film-item__image-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.film-item__image-wrapper::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	transition: opacity var(--transition-duration) ease-in; 
}

.film-item:hover .film-item__image-wrapper::before,
.film-item:focus-within .film-item__image-wrapper::before {
	opacity: 0.5;
}

.film-item__image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.film-item__inner {
	position: absolute;
	top: var(--film-card-vertical-offset);
	right: var(--film-card-horizontal-offset);
	bottom: var(--film-card-vertical-offset);
	left: var(--film-card-horizontal-offset);
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
}

.film-item__title {
	font-size: 24px;
	color: #fff;
	margin: 0;
	opacity: 0;
	transition: opacity var(--transition-duration) ease-in;
}

.film-item:hover .film-item__title,
.film-item:focus-within .film-item__title{
	opacity: 1;
}

.film-item__link {
	color: inherit;
	text-decoration: none;
}

.film-item__link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.film-item__favorite {
	padding: 5px;
	background: none;
	border: 0;
	cursor: pointer;
	align-self: flex-start;
	will-change: transform;
	transition: transform var(--transition-duration) ease-in;
	transform: translateY(calc(-100% - var(--film-card-vertical-offset)))
}

.film-item:hover .film-item__favorite,
.film-item:focus-within .film-item__favorite{
	transform: translateY(0)
}

.favorite-icon {
	width: 25px;
	height: 25px;
}
.favorite-icon path {
	fill: transparent;
	stroke:#fff;
	stroke-width: 2px;
	transition: stroke var(--transition-duration) ease-in, fill var(--transition-duration) ease-in
}

.favorite-icon--active path {
	stroke: #efce4a;
	fill: #efce4a
}

.pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	justify-content: center;
}

.pagination__item {
	color: #000;
	border: 2px solid var(--brand-color);
	border-radius: var(--border-radius);
	margin-left: 6px;
	margin: 8px;
	font-size: 18px;
}

.pagination__link {
	display: inline-block;
	min-width: 45px;
	text-align: center;
	color: inherit;
	text-decoration: none;
	padding: 12px;
	transition: background-color var(--transition-duration) ease-in;
}

.pagination__link:hover,
.pagination__link:focus {
	background-color: var(--brand-color);
}